In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import featuretools as ft

In [2]:
shake = pd.read_csv("../data/raw/Shakespeare_data.csv")
shake

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,1,Henry IV,NaN,NaN,NaN,ACT I
1,2,Henry IV,NaN,NaN,NaN,SCENE I. London. The palace.
2,3,Henry IV,NaN,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
3,4,Henry IV,1.0,1.1.1,KING HENRY IV,"So shaken as we are, so wan with care,"
4,5,Henry IV,1.0,1.1.2,KING HENRY IV,"Find we a time for frighted peace to pant,"
5,6,Henry IV,1.0,1.1.3,KING HENRY IV,And breathe short-winded accents of new broils
6,7,Henry IV,1.0,1.1.4,KING HENRY IV,To be commenced in strands afar remote.
7,8,Henry IV,1.0,1.1.5,KING HENRY IV,No more the thirsty entrance of this soil
8,9,Henry IV,1.0,1.1.6,KING HENRY IV,Shall daub her lips with her own children's bl...
9,10,Henry IV,1.0,1.1.7,KING HENRY IV,"Nor more shall trenching war channel her fields,"
10,11,Henry IV,1.0,1.1.8,KING HENRY IV,Nor bruise her flowerets with the armed hoofs
11,12,Henry IV,1.0,1.1.9,KING HENRY IV,"Of hostile paces: those opposed eyes,"
12,13,Henry IV,1.0,1.1.10,KING HENRY IV,"Which, like the meteors of a troubled heaven,"
13,14,Henry IV,1.0,1.1.11,KING HENRY IV,"All of one nature, of one substance bred,"
14,15,Henry IV,1.0,1.1.12,KING HENRY IV,Did lately meet in the intestine shock
15,16,Henry IV,1.0,1.1.13,KING HENRY IV,And furious close of civil butchery
16,17,Henry IV,1.0,1.1.14,KING HENRY IV,"Shall now, in mutual well-beseeming ranks,"
17,18,Henry IV,1.0,1.1.15,KING HENRY IV,March all one way and be no more opposed
18,19,Henry IV,1.0,1.1.16,KING HENRY IV,"Against acquaintance, kindred and allies:"
19,20,Henry IV,1.0,1.1.17,KING HENRY IV,"The edge of war, like an ill-sheathed knife,"
20,21,Henry IV,1.0,1.1.18,KING HENRY IV,"No more shall cut his master. Therefore, friends,"
21,22,Henry IV,1.0,1.1.19,KING HENRY IV,"As far as to the sepulchre of Christ,"
22,23,Henry IV,1.0,1.1.20,KING HENRY IV,"Whose soldier now, under whose blessed cross"
23,24,Henry IV,1.0,1.1.21,KING HENRY IV,"We are impressed and engaged to fight,"
24,25,Henry IV,1.0,1.1.22,KING HENRY IV,"Forthwith a power of English shall we levy,"
25,26,Henry IV,1.0,1.1.23,KING HENRY IV,Whose arms were moulded in their mothers' womb
26,27,Henry IV,1.0,1.1.24,KING HENRY IV,To chase these pagans in those holy fields
27,28,Henry IV,1.0,1.1.25,KING HENRY IV,Over whose acres walk'd those blessed feet
28,29,Henry IV,1.0,1.1.26,KING HENRY IV,Which fourteen hundred years ago were nail'd
29,30,Henry IV,1.0,1.1.27,KING HENRY IV,For our advantage on the bitter cross.
...,...,...,...,...,...,...
111366,111367,A Winters Tale,37.0,5.3.155,PAULINA,"There's time enough for that,"
111367,111368,A Winters Tale,37.0,5.3.156,PAULINA,Lest they desire upon this push to trouble
111368,111369,A Winters Tale,37.0,5.3.157,PAULINA,"Your joys with like relation. Go together,"
111369,111370,A Winters Tale,37.0,5.3.158,PAULINA,"You precious winners all, your exultation"
111370,111371,A Winters Tale,37.0,5.3.159,PAULINA,"Partake to every one. I, an old turtle,"
111371,111372,A Winters Tale,37.0,5.3.160,PAULINA,Will wing me to some wither'd bough and there
111372,111373,A Winters Tale,37.0,5.3.161,PAULINA,"My mate, that's never to be found again,"
111373,111374,A Winters Tale,37.0,5.3.162,PAULINA,Lament till I am lost.
111374,111375,A Winters Tale,38.0,5.3.163,LEONTES,"O, peace, Paulina!"
111375,111376,A Winters Tale,38.0,5.3.164,LEONTES,"Thou shouldst a husband take by my consent,"
111376,111377,A Winters Tale,38.0,5.3.165,LEONTES,"As I by thine a wife: this is a match,"
111377,111378,A Winters Tale,38.0,5.3.166,LEONTES,"And made between's by vows. Thou hast found mine,"
111378,111379,A Winters Tale,38.0,5.3.167,LEONTES,"But how, is to be question'd, for I saw her,"
111379,111380,A Winters Tale,38.0,5.3.168,LEONTES,"As I thought, dead, and have in vain said many"
111380,111381,A Winters Tale,38.0,5.3.169,LEONTES,A prayer upon her grave. I'll not seek far--
111381,111382,A Winters Tale,38.0,5.3.170,LEONTES,"For him, I partly know his mind--to find thee"
111382,111383,A Winters Tale,38.0,5.3.171,LEONTES,"An honourable husband. Come, Camillo,"
111383,111384,A Winters Tale,38.0,5.3.172,LEONTES,"And take her by the hand, whose worth and honesty"
111384,111385,A Winters Tale,38.0,5.3.173,LEONTES,Is richly noted and here justified
111385,111386,A Winters Tale,38.0,5.3.174,LEONTES,"By us, a pair of kings. Let's from this place."
111386,111387,A Winters Tale,38.0,5.3.175,LEONTES,"What! look upon my brother: both your pardons,"
111387,111388,A Winters Tale,38.0,5.3.176,LEONTES,That e'er I put between your holy looks
111388,111389,A Winters Tale,38.0,5.3.177,LEONTES,"My ill suspicion. This is your son-in-law,"
111389,111390,A Winters Tale,38.0,5.3.178,LEONTES,"And son unto the king, who, heavens directing,"
111390,111391,A Winters Tale,38.0,5.3.179,LEONTES,"Is troth-plight to your daughter. Good Paulina,"
111391,111392,A Winters Tale,38.0,5.3.180,LEONTES,"Lead us from hence, where we may leisurely"
111392,111393,A Winters Tale,38.0,5.3.181,LEONTES,Each one demand an answer to his part
111393,111394,A Winters Tale,38.0,5.3.182,LEONTES,Perform'd in this wide gap of time since first
111394,111395,A Winters Tale,38.0,5.3.183,LEONTES,We were dissever'd: hastily lead away.
111395,111396,A Winters Tale,38.0,NaN,LEONTES,Exeunt

In [3]:
df_shake = shake.drop(columns="Dataline")

In [4]:
df_shake['Player'].replace(np.nan, 'No Character', inplace = True)

In [5]:
df_PlayerNumber = df_shake.groupby('Player').nunique()
df_PlayerNumber

                  Play  PlayerLinenumber  ActSceneLine  Player  PlayerLine
Player
A Lord               1                 1             1       1           1
A Patrician          1                 3             3       1           4
A Player             1                 3             4       1           4
AARON                1                40           356       1         371
ABERGAVENNY          1                 5            18       1          18
...                ...               ...           ...     ...         ...
Young MARCIUS        1                 1             2       1           2
of BUCKINGHAM        1                 1            11       1          14
of King Henry VI     1                 1             8       1          10
of Prince Edward     1                 1             8       1          10
of young Princes     1                 1             9       1          11

[935 rows x 5 columns]

In [6]:
val = shake['Player'].value_counts()
val

GLOUCESTER          1920
HAMLET              1582
IAGO                1161
FALSTAFF            1117
KING HENRY V        1086
                    ...
Second murderer        1
Third Musician         1
HERNIA                 1
PHILIP                 1
Second Attendant       1
Name: Player, Length: 934, dtype: int64

In [7]:
df = val.rename_axis('Player').reset_index(name='Number of Appearances')
df

               Player  Number of Appearances
0          GLOUCESTER                   1920
1              HAMLET                   1582
2                IAGO                   1161
3            FALSTAFF                   1117
4        KING HENRY V                   1086
..                ...                    ...
929   Second murderer                      1
930    Third Musician                      1
931            HERNIA                      1
932            PHILIP                      1
933  Second Attendant                      1

[934 rows x 2 columns]

In [8]:
play_grouping = df_shake.groupby(['Play','Player' ]).count()
play_grouping

                                     PlayerLinenumber  ActSceneLine  \
Play               Player
A Comedy of Errors ADRIANA                        284           276
                   AEGEON                         150           147
                   AEMELIA                         75            73
                   ANGELO                          99            96
                   ANTIPHOLUS                       6             6
...                                               ...           ...
macbeth            Son                             24            20
                   Third Apparition                 6             5
                   Third Murderer                   8             8
                   Third Witch                     27            27
                   YOUNG SIWARD                     8             7

                                     PlayerLine
Play               Player
A Comedy of Errors ADRIANA                  284
                   AEGEON                   150
                   AEMELIA                   75
                   ANGELO                    99
                   ANTIPHOLUS                 6
...                                         ...
macbeth            Son                       24
                   Third Apparition           6
                   Third Murderer             8
                   Third Witch               27
                   YOUNG SIWARD               8

[1328 rows x 3 columns]

In [9]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

le = preprocessing.LabelEncoder()

le.fit(df_shake['Player'])
df_shake['Player'] = le.transform(df_shake['Player'])
le.fit(df_shake['Play'])
df_shake['Play'] = le.transform(df_shake['Play'])

df_shake['ActSceneLine'] = df_shake['ActSceneLine'].astype(str)

le.fit(df_shake['ActSceneLine'])
df_shake['ActSceneLine'] = le.transform(df_shake['ActSceneLine'])


X= df_shake[['Play', 'ActSceneLine']]
y= df_shake['Player']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

decision_tree = DecisionTreeClassifier()
clf = decision_tree.fit(X_train, y_train)
y_pred = clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6038599640933573

In [11]:
from sklearn.ensemble import RandomForestClassifier
my_model = RandomForestClassifier()
my_model.fit(X_train, y_train)
y_pred = my_model.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

c:\python37\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

Accuracy: 0.6069569120287253